* {
    margin: 0px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    background-color: #fce283;
    
}
h1 {
    text-decoration-line: underline;
}

body {
    background-color: #fce283;
}

p {
    background-color: antiquewhite;
}

h3 {
    text-decoration-line: underline;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
ul {
    background-color: antiquewhite;
}

li {
    background-color: antiquewhite;
}

figure {
    display: inline-block;
    border: 3px solid black;
    margin: 10px;
    background-color: #fce283;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: antiquewhite;
    padding: 10px;
  }
.grid-item {
    background-color: antiquewhite;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}